h1, h3 {
  text-align: center;
}

h1 {
  margin-top: 100px;
}

h3 {
  margin-top: 25px;
}

.divider {
  margin: 50px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    margin: 50px 0;

    &.images {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &.input-data {
      width: 80%;
      display: flex;
      flex-direction: column;

      .number-of-items {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 30px;

        & .min-max {
          margin-bottom: 20px;
        }
      }
    }
  }

  span {
    width: 100%;
    text-align: center;

    input {
      width: 50%;
    }

    label {
      left: 28%;
    }

    &.number-input-span {
      margin-top: 50px;
    }
  }

  button {
    width: 30%;
    margin-top: 20px;
  }

  .result-image {
    margin-top: 20px;
    width: 350px;
  }
}
