
<ng-container *ngIf="apiKey; else noApiKey">
  <h1>Generate images using OPEN AI API</h1>
  <div class="divider"></div>

  <main>
    <section class="input-data">
      <span class="p-float-label">
        <input id="image-search" type="text" pInputText
               [(ngModel)]="imageSearch">
        <label for="image-search">Generate an image with ...</label>
      </span>

      <div class="number-of-items">
        <label for="minmax-buttons" class="min-max">Number of images to generate ( max 5 )</label>
        <p-inputNumber [(ngModel)]="numberOfImages" mode="decimal" [showButtons]="true" id="minmax-buttons" [min]="1" [max]="5">
        </p-inputNumber>
      </div>
    </section>

    <button [loading]="fetchingImages" [disabled]="disabledButtonState" pButton type="button" [label]="!fetchingImages ? 'Generate images' : 'Generating images'" class="p-button-success" (click)="generateImage()"></button>

    <section class="no-images" *ngIf="!imageSearch">
      <img src="https://i.imgur.com/rEtvbZL.jpeg" alt="Pretty cats" width="512" height="512">
    </section>

    <section class="images" *ngIf="imageSearch">
      <img *ngFor="let imageUrl of openAIImageResults" class="result-image" src="{{imageUrl}}" alt="{{imageUrl}}"/>
    </section>

  </main>
</ng-container>

<ng-template #noApiKey>
  <h1><pre> Uh-oh ! You dont have an Open AI API key 😔 😞 😓 😿 </pre></h1>
  <h3> Checkout the README for more details</h3>
</ng-template>
